@model ListViewModel<Good>

@{
    ViewData["Title"] = "Товары";
}

<div class="row">
    <div class="card-deck">
        @foreach (var item in Model)
        {
            <partial name="_ListItemPartial" model="@item" />
        }
    </div>
</div>